/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
    height: 100%;
}

#page_1 article{
    padding-top: 3%;
    text-align: center;
}

#page_1 p, #Description p{
    font-family: Gabriola, Arial, serif;
    font-size: 1.2em;
}

section {
    width: 916px /* Les sections occupent 916px (taille de la bannière) */
}

@media screen and (min-width:250px) and (max-width:750px) {

    .photo{
        display: flex;
        width: 100%;
    }
    #page_1{
        flex-direction: column;
        width: 100%;
    }

    #Description p{
        font-size: 0.8em!important;
        width: 100%;
    }

    section{
        width: 100%;
    }

    #messageDeFin{
        font-size: 1em;
    }
    
    
    .container {
    position: relative;
    width: 45%;
    border-radius:100px;
    margin-left: 31%;
}
}