/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

section {
    width: 100%;
}

#contact h1 {
    margin-top: 10px;
    text-align: center;
}

#contact div{
    flex-direction: row;
}

#contact form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2%;
    margin-top: 1%;
    align-items: center;
    width: 100%;
}

#contact form fieldset {
    padding: 10px;
    border: 1px solid black;
    width: 90%;
    
}

#info legend {
    padding: 0 1%;
    font-weight: bold;
    
}

#info label {
    margin-right: 10px;
}

#info input, #info select {
    flex: auto;
    border: 1px solid black;
}

#info div {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

#info input[type="checkbox"] {
    margin-right: 5px;
}

#info fieldset {
    width: fit-content;
    margin: auto;
}

#num_jour, #num_mois, #num_annee{
    margin-left: 2%;
    margin-right: 2%;
}

#choix {
    align-self: flex-start;
}

#choix legend {
    padding: 0 5px;
    font-weight: bold;
}

#choix div {
    margin: 10px;
}

#choix label {
    margin-left: 10px;
}

#envoi{
    text-align: center;
    
}

#area_precisions{
    border: 1px solid black;
}

#controles {
    margin-top: 10px;
}

#controles input {
    padding: 10px;
}

#controles input:first-child {
    margin-right: 10px;
}

input:valid, :not(input[type="submit"]) {
    color: green;
}
input:invalid {
    color: red;
}

#info div.input-validation {
    margin: 0;
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 5px;
    color: green;
}
