/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

@font-face {
    font-family: 'policeEcriture';
    src: url('../police/Please write me a song.ttf');
}

section{
    width: 99%;
}

#contact h1 {
    text-align: center;
    font-family: "policeEcriture", Arial, serif;
    font-size: 3em;
}

#contact form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-right: 17%;
    padding-left: 18%; 
}

#contact form div{
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
    align-items: center;
}

#contact form fieldset {
    padding: 1%;
    border: 1px solid black;
    width: 70%;
    margin-bottom: 1%;
    margin-right: 1%;
    justify-content: center;
}

#info legend {
    padding: 0 1%;
    font-weight: bold;
}

#info label {
    margin-right: 1%;
}

#info input, #info select {
    flex: auto;
    border: 1px solid black;
}

#info div {
    display: flex;
    justify-content: space-between;
}

#num_jour, #num_mois, #num_annee{
    margin-left: 2%;
    margin-right: 2%;
}

#rdv legend {
    padding: 0 1%;
    font-weight: bold;
}

#info legend, #rdv legend, #massages legend, #soins legend{
    font-size: 17px;
}

#massages input, #soins input, #questions input{
    margin-top: 1%;
    margin-right: 1.5px;
}

#massages label, #soins label, #questions label, #com label{
    font-size: 17px;
}

#questions label{
    font-weight: bold;
}

#envoyer input{
    background-color: #cdcbcf;
    border: 1px black solid;
    border-radius: 7px;
}

td{
    display: flex;
}

#com{
    border: 1px solid black;
    width: 82%;
    padding: 0.5%;
    margin-left: 2%;
}

input:valid, :not(input[type="submit"]) {
    color: green;
}
input:invalid {
    color: red;
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 2%;
    color: green;
}

@media screen and (min-width:576px) and (max-width:768px) {
    #contact {
        display: flex;
        flex-direction: column;
    }
    #contact h1 {
        width: 100%;
    }
    #info {
        width: 100%;
    }
    #rdv {
        width: fit-content;
    }
    #controles {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    #rdv {
        margin-top: 20px;
    }
}