/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2020, 16:49:55
    Author     : BRADU Gauthier


*/
@font-face{ 
    font-family: "Nordic";
    src: url('polices/Nordic.ttf') format("truetype");
}

#theme article img {
    
width:250px;
margin-top: 50px;
margin-bottom: 50px;

}

#theme {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row;
    justify-content: flex-start; /* Les éléments sont répartis équitablement sur la ligne */
    margin-top: 70px; /* Marge inférieure */
   
    margin-left: 200px; /* Marge de gauche */
    
   
}
#theme,article {
     display: flex; /* Ce conteneur est "flexible" */
     flex-direction: row; /* Les éléments sont empilés */
     margin-left: 200px; /* Marge de gauche */
     
    
}

#theme,article h2{
     display: flex; /* Ce conteneur est "flexible" */
     flex-direction: row; /* Les éléments sont empilés */
      
    
}


