/*
     Page web créé dans le cadre du projet de fin d'année - juin 2020
     Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
     Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
    height: 100%;
}

header {
    width: 100%; /* La page occupe toute la largeur */
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: column; /* Les éléments sont empilés */
}

picture {
    display: flex;
}

nav{
    flex-direction: row;
}

nav input {
    display: none;
}

nav ul {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* Les éléments sont mis côte à côte */
    justify-content: space-between; /* Les éléments sont répartis équitablement */
    background-color: white; /* Couleur du fond */
}
nav ul li {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    list-style-type: none; /* Cette liste n'a pas de puce */
    font-size: x-large; /* Le texte est grossi en XL */
}

nav ul li a {
    padding: 10px; /* Marge intérieure */
    color: #993599; /* Couleur du texte */
    text-decoration: none;
}
nav ul li:hover {
    background-color: #ffe3ff; /* Couleur du fond au passage de la souris */
}
section {
    width: 916px; /* Les sections occupent 916px (taille de la bannière) */
}


@media screen and (min-width:576px) and (max-width:768px) {
    #thematique {     flex-direction: row; /* Sur tablette, les casques de l'accueil sont côte à côte */     }
}