/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

@font-face {
    font-family: 'policeEcritureSympa';
    src: url('../police/Michella Garden.otf');
}

#listeMassage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

body{
    width: 100%;
}

.massage{
    display: flex;
    flex-direction: column;
    margin-bottom: 5% !important;
}

.textCacher{
    display: none;
    margin-bottom: 5%;
}

.textCacher_before_open{
    display: flex;
    flex-direction: row;
    background-color: #a5eaa5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -208px;
    z-index: 2;
    transition-duration: 0.4s;
}

.textCacher_open{
    display: flex;
    flex-direction: row;
    background-color: #a5eaa5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -10px;
    padding-top: 20px;
    padding-left: 2%;
    z-index: 2;
    transition-duration: 0.4s;
}

.dureeEtPrix{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.descriptionMassage{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1em;
    margin-right: 5%;
}

.nomEtImage{
    cursor: pointer;
    z-index: 3;
}

.boutonMassage{
    text-decoration: none;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    display: flex;
    align-items: center;
    border: solid;
    border-color: #a56ea5;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 5%;
    background-color: #cd93cd;
}

.nomEtImage picture{
    display: flex;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.imageMessage{
    z-index: 2;
    width: 100%;
}

#titre{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 5em;
    font-family: "policeEcritureMain", Arial, serif;
    margin-top: 2%;
}