/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

@font-face {
    font-family: 'policeEcriture';
    src: url('../police/Please write me a song.ttf');
}

#listeMassage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

body{
    width: 100%;
}

.massage{
    display: flex;
    flex-direction: column;
    margin-bottom: 5% !important;
}

.textCacher{
    display: none;
    margin-bottom: 5%;
}

.textCacher_before_open{
    display: flex;
    flex-direction: row;
    background-color: #e4ace9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
    transition-duration: 0.4s;
    font-size: 1.3em;
}

.textCacher_open{
    display: flex;
    flex-direction: row;
    background-color: #e4ace9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -10px;
    padding-top: 20px;
    padding-left: 2%;
    z-index: 2;
    transition-duration: 0.4s;
    font-size: 1.3em;
}

.dureeEtPrix{
    font-family: Gabriola, Arial, serif;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding-top: 7%;
    align-items: center;
    width: 20%;
}

.descriptionMassage{
    display: flex;
    font-family: Gabriola, Arial, serif;
    margin-right: 5%;
    align-items: center;
    width: 50%;
}

.nomEtImage{
    cursor: pointer;
    z-index: 3;
}

.divBouton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

.boutonMassage{
    text-decoration: none;
    font-family: Gabriola, Arial, serif;
    font-size: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #a56ea5;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 5%;
    background-color: #f7f4d1;
    width: 50%;
    height: 50%;
}

.imageOrdi{
    display: flex;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.imageOrdi img{
    width: 100%;
}

.imageResponsive{
    display: none;
}

.imageMessage{
    z-index: 2;
    width: 100%;
}

#titre{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 5em;
    font-family: "policeEcritureMain", Arial, serif;
    margin-top: 2%;
}

@media screen and (max-width:325px) {
    .textCacher_before_open{
        font-size: 0.4em!important;
    }

    .textCacher_open{
        font-size: 0.4em!important;
    }
}

@media screen and (min-width: 325px) and (max-width:500px) {
    .textCacher_before_open{
        font-size: 0.5em!important;
    }

    .textCacher_open{
        font-size: 0.5em!important;
    }
}

@media screen and (max-width:750px) {

    #titre{
        margin-top: -250px;
        font-size: 4em;
    }

    #massage1{
        width: 100%;
    }

    .imageOrdi{
        display: none;
    }

    .imageResponsive{
        display: flex;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
        max-height: 100%;
        max-width: 100%;
    }

    .imageResponsive img{
        max-width: 750px;
        width: 100%;
    }

    #massage2{
        width: 100%;
    }
    #massage3{
        width: 100%;
    }
    #massage4{
        width: 100%;
    }
    #massage5{
        width: 100%;
    }
    #massage6{
        width: 100%;
    }

    .textCacher_before_open{
        font-size: 0.7em;
    }

    .textCacher_open{
        font-size: 0.7em;
    }


}