/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

#forme{
    margin-left: 5%;
    margin-right: 5%;
}

#titre1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family:Lucida Handwriting;
    flex-direction: column;
    width: 100%;
}

#titre1 h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}

#titre1 h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
}

#texte{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4em;
    width: 100%;
    margin-top: 2%;
}

#forme2
{    margin-left: 3%;
     margin-right: 5%;
     justify-content: center;
     display: flex;
     flex-direction: row;
     margin-top: 2%;
}

#tarif, #tarif2, #contacter{
    display:flex;
    width: 20%;
    font-size: 1.4em;
    flex-direction: column;
}

#tarif h1, #tarif2 h1, #contacter h1{
    font-family:Lucida Handwriting;
    margin-bottom: 1.2%;
}

#texte p, #tarif p, #tarif2 p, #contacter p {
    font-family: Gabriola, Arial, serif;
    font-size: 1.3em;
    padding-left: 1.2%;
    padding-bottom: 1%;
}


@media screen and (max-width:750px) {
    #forme{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -230px;
    }

    #titre1 h1{
        display: flex;
        justify-content: center;
        font-size: 3em;
    }

    #titre1 p{
        display: flex;
        justify-content: center;
        font-size: 0.8em;
        margin-top: -17%;
        margin-bottom: 1%;
        font-family: Gabriola, Arial, serif;
    }    

    #forme2
    {    margin-left: 3%;
         margin-right: 5%;
         justify-content: center;
         text-align: center;
         display: flex;
         flex-direction: column;
         margin-top: 2%;
    }

    #tarif, #tarif2, #contacter{
        display:flex;
        width: 100%;
        font-size: 1.4em;
        flex-direction: column;
    }

    #tarif h1, #tarif2 h1, #contacter h1{
        font-family:Lucida Handwriting;
        margin-bottom: 1.2%;
        width: 100%;
    }

    #texte p, #tarif p, #tarif2 p, #contacter p{
        font-family: Gabriola, Arial, serif;
        font-size: 0.8em;
        padding-left: 1.2%;
        padding-bottom: 1%;
    }
}
