/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

#titre1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family:Lucida Handwriting;
    flex-direction: column;
    width: 100%;
}

#titre1 h1{
    display: flex;
    justify-content: center;
    font-size: 4em;
}

#titre1 h2{
    display: flex;
    justify-content: center;
    font-size: 1.7em;
}

#titre1 p{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Gabriola, Arial, serif;
}

#texte{
    display:flex;
    flex-direction: column;
    font-size: 1.4em;
    width: 100%;
    margin-top: 2%;
}

#texte h1{
    display: flex;
    justify-content: flex-start;
    font-family:Lucida Handwriting;
    margin-bottom: 1%;
    margin-top: 2%;
}

#forme{
    margin-left: 5%;
    margin-right: 5%;
}

#tarif{
    display:flex;
    width: 28%;
    font-size: 1.4em;
    flex-direction: column;
}

#tarif h1{
    font-family:Lucida Handwriting;
    margin-bottom: 1.2%;
}

#texte2{
    display:flex;
    flex-direction: column;
    font-size: 1.4em;
}

#texte2 h1{
    display: flex;
    justify-content: flex-start;
    font-family:Lucida Handwriting;
    margin-bottom: 1.2%;
}

#forme2
{    margin-left: 3%;
     margin-right: 5%;
     justify-content: center;
     display: flex;
     flex-direction: row;
     margin-top: 2%;
}

#centre{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#centre h1{
    display:flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

#centre p{
    display:flex;
}

#texte p, #centre p, #texte2 p, #tarif p {
    font-family: Gabriola, Arial, serif;
    font-size: 1.3em;
    padding-left: 1.2%;
    padding-bottom: 1%;
}


@media screen and (min-width:375px) and (max-width:812px) {
    
    #texte p, #centre p, #texte2 p, #tarif p {
    font-family: Gabriola, Arial, serif;
    font-size: 0.8em;
    padding-left: 1.2%;
    padding-bottom: 1%;
}
    
#titre1 h1{
    display: flex;
    justify-content: center;
    font-size: 1em;
}


#forme2
{    margin-left: 3%;
     margin-right: 5%;
     justify-content: center;
     display: flex;
     flex-direction: column;
     margin-top: 2%;
}


#tarif{
    display:flex;
    width: 100%;
    font-size: 1.4em;
    flex-direction: column;
}

#forme{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -63%;
}

#titre1 p{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin-top: -17%;
    margin-bottom: 1%;
    font-family: Gabriola, Arial, serif;
}

}