/*
    Page web créé dans le cadre du projet de fin d'année - juin 2020
    Auteurs : BRADU Gauthier, PEZON Jean-baptiste et VALENZA Emma
    Email : gauthier.bradu@isen.yncrea.fr , jean-baptiste.pezon@isen.yncrea.fr , emma.valenza@isen.yncrea.fr
*/

#forme{
    margin-left: 5%;
    margin-right: 5%;
}

#titre1{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family:Lucida Handwriting;
    flex-direction: column;
    width: 100%;
}

#titre1 h1{
    display: flex;
    justify-content: center;
    font-size: 4em;
}

#texte{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4em;
    width: 100%;
    margin-top: 2%;
}

#texte h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:Lucida Handwriting;
    margin-bottom: 1%;
    margin-top: 2%;
}

#forme2
{    margin-left: 3%;
     margin-right: 3%;
     justify-content: center;
     display: flex;
     flex-direction: row;
     margin-top: 2%;
}

#tarif, #contacter{
    display:flex;
    width: 40%;
    font-size: 1.4em;
    flex-direction: column;
}

#tarif h1, #contacter h1{
    font-family:Lucida Handwriting;
    margin-bottom: 1.2%;
    margin-top: 1%;
}

#texte p, #tarif p,#contacter p {
    font-family: Gabriola, Arial, serif;
    font-size: 1.3em;
    padding-left: 1.2%;
    padding-bottom: 1%;
}